<!DOCTYPE html>
<html>
    <head>
        <title>todo app</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    </head>
    <body>
        <div style="margin-top:50px;" class="ui container">
           <h1 class="ui center aligned header">TODO APP</h1>
           <p class="ui center aligned header" style="font-family:Lucida Console; color: gray;">It doesn't matter what you completed or how much you completed, but how you completed matters. Focus on what you do.</p>
           <form class="field" action="/add" method="post">
            <div class="ui segment">
               <label for="title"><b>Todo Tasks</b></label> 
               <input type="text" name="title" placeholder="Enter Todo...">
               <br>
               <button class="ui blue button" type="submit">Add</button>
            </div>
           </form>

           {% for todo in todo_list %}
           <div  class="ui segment">
           <p class="ui big header">{{todo.id}} | {{todo.title}}</p>

           {% if todo.complete == False %}
           <span class="ui gray label"> Not complete </span>
           {% else %}
           <span class="ui green label"> completed </span>
           {% endif %}

           <a class="ui blue button" href="/update/{{todo.id}}">Update</a>
           <a class="ui red button" href="/delete/{{todo.id}}">Delete</a>
        </div>
           {% endfor %}
    </div>    
    </body>
</html>
